#!/usr/bin/env python3

import aws_cdk as cdk

from {{ cdk_application_name_snake_case }}.{{ cdk_application_name_snake_case }}_stack import {{ cdk_application_name_pascal_case }}Stack

# `app` is the CDK application
app = cdk.App()

# Get the target region from the context
region = app.node.try_get_context("region") or "eu-west-1"

# Create the main environment
env = cdk.Environment(region=region)

# Create a new "CDK App" stack
{{ cdk_application_name_pascal_case }}Stack(app, "{{ cdk_application_name_pascal_case }}Stack", env=env)

# Synthesize the CloudFormation template
app.synth()
