name: "Continuous Integration"
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release/*
concurrency:
  group: ${% raw %}{{ github.repository }}{% endraw %}-continuous-integration
  cancel-in-progress: false
jobs:
  continuous-integration:
    name: "Continuous Integration"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: "Release Please!"
        uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${% raw %}{{ secrets.SERVICE_USER_CI_TOKEN }}{% endraw %}
          target-branch: ${% raw %}{{ github.ref_name }}{% endraw %}
