name: "Pull Request Verifier"
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    branches:
      - main
concurrency:
  group: ${% raw %}{{ github.repository }}{% endraw %}-pull-request-verifier-${% raw %}{{ github.ref_name }}{% endraw %}
  cancel-in-progress: true
jobs:
  verify:
    name: "Verify"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v4

      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Install dependencies"
        run: |
          # Bash script
          pip install .
          pip install .[test]

      - name: "Run tests"
        run: |
          # Bash script
          git tag -f "@latest"
          python -m pytest
